*{
    margin: 0;
}
.container {
    background-color: #7e7e7e;
    height: 300px;
    width: 70%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.webpage-name{
    padding-top: 20px;
    text-align: center;
    background-color: lightcoral;
}
.converter-card{
    background-color: khaki;
    padding-top: 10px;
    margin: 0 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.output-price,.input-price{
    margin: 10px 0px;
}
input{
    border: 0;
    border-radius: 10px;
    padding: 10px;
    height: 2.5em;
    width: 10em;
}
input:focus{
    outline: none;
}
input[type=number]::-webkit-inner-spin-button {  
    width: 35px;
    height: 35px;
}
.foot{
    text-align: center;
    width: 100%;
    background-color: lightblue;
    position: fixed;
    bottom: 0;
}