*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    user-select: none;
}
.container {
    background-color: rgba(22, 22, 22, 0.514);
    max-height: 500px;
    min-height: 250px;
    width: 70vw;
    color: #fff;
    padding: 25px;
    max-width: 500px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 20px;
    animation: fadeIn .6s linear;
}
p{
    color: rgb(177, 177, 177);
}
.currency-header{
    /* padding-top: 10px; */
    text-align: center;
    user-select: none;
    /* background-color: lightcoral; */
}
.converter-card{
    /* background-color: khaki; */
    /* padding-top: 10px; */
    margin: 0 10% 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}
body {
    background-image: linear-gradient(to bottom right, rgb(243, 69, 69), rgb(61, 61, 236));
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.output-price,.input-price{
    margin: 10px 0px;
    display: flex;
}
input{
    border: 0;
    padding: 10px;
    height: 2.5em;
    width: 100px;
    max-width: 10em;
    border-radius: 0 10px 10px 0;
}
select{
    font-weight: bold;
    padding-left: 15px;
    border: 0;
    border-radius:  10px 0 0 10px;
    margin: 0 0 0 10px;
    height: 4em;
    width: 5em;
    background-color: rgb(240, 240, 240);
}
p{
    max-width: 400px;
}
input:focus,select:focus{
    outline: none;
}
input[type=number]::-webkit-inner-spin-button {  
    width: 25px;
    height: 25px;
}
.foot{
    text-align: center;
    width: 100%;
    background-color: rgba(173, 216, 230, 0.5);
    position: fixed;
    bottom: 0;
    font-size: 10px;
    text-align: start;
}
.price-change{
    display: inline;
    /* grid-column-start: 3; */
    margin-top: 15px;
    padding-left: 12px;
    text-align: center;
}
button{
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    margin: 0;
    padding: 0;
    height: 2em;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}
button>svg:hover{
    fill: gainsboro
}

.chart{
    /* background-color: thistle; */
    width: 175px;
    height: 80px;
    padding-left: 20px;
}
#weekly-chart{
    width: inherit;
    height: inherit;
    padding: 0;
}
#logo-icon{
    margin: 0;
    height: 30px;
    width: auto;
}
/* button>svg{
    animation:spin 1s linear;
} */
@keyframes spin { 100% { 
    -webkit-transform: rotate(0deg); 
    transform:rotate(180deg); } 
}
@keyframes fadeIn {
    0% {opacity:0;transform: scale(0.95);}
    100% {opacity:1;transform: scale(1);}
}